.container {
    min-height: 40em;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.container .b-schedulerpro {
    height: calc(100% - 13em);
}

.b-float-root {
    z-index: 100;
}
