.container {
    min-height: 40em;
    height: 100%;
}

.b-float-root {
    z-index: 100;
}

.b-task-board-base {
    --b-task-board-background                : var(--b-neutral-95);

    --b-task-board-card-border               : none;
    --b-task-board-card-border-top-radius    : 4px;
    --b-task-board-card-border-bottom-radius : 4px;
    --b-task-board-card-box-shadow           : var(--b-elevation-1);

    --b-task-board-column-header-padding     : 1em;
    --b-task-board-column-background         : var(--b-neutral-98);
    --b-task-board-column-header-background  : var(--b-neutral-98);

    .b-colorize {
        --b-task-board-card-border-inline-start : 6px solid var(--b-primary-80);
    }

    .b-top-toolbar {
        border-bottom : 1px solid var(--b-neutral-90);
    }
}

.b-task-board-column-header:not(.b-last),
.b-task-board-column:not(.b-last) {
    border-inline-end : 1px solid var(--b-neutral-90);
}

[data-column=done] .b-task-board-card:not(.b-selected) {
    opacity : 0.5;
}

.b-task-board-card-footer {
    justify-content : flex-end;
}
